@model StationaryHouse.Models.Stationery

@{
    ViewData["Title"] = "Edit";
}

<h1 class="heading text-center">Edit Stationery Details</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StationeryID" />
            <div class="form-group">
                <label asp-for="StationeryName" class="control-label"></label>
                <input asp-for="StationeryName" class="form-control" />
                <span asp-validation-for="StationeryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
                <input type="hidden" asp-for="Extension" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="SubCategoryID" class="control-label"></label>
                <select asp-for="SubCategoryID" class="form-control" asp-items="ViewBag.SubCategoryID"></select>
                <span asp-validation-for="SubCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">All Stationery Items</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
