@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Stationary House</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet">
    <style>
        .heading {
            font-family: 'Merriweather', serif;
        }

        .font1 {
            font-family: 'Kiwi Maru', serif;
        }

        .font2 {
            font-family: 'Recursive', sans-serif;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link font1 text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("power"))
                        {
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="SubCategories" asp-action="Index">Sub Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Stationeries" asp-action="Index">Stationery</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Home" asp-action="AllCategories">All Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link font1 text-dark" asp-area="" asp-controller="Home" asp-action="AllStationery">All Stationery</a>
                            </li>
                            @if (SignInManager.IsSignedIn(User))
                                            {
                                <li class="nav-item">
                                    <a class="nav-link font1 text-dark" asp-area="" asp-controller="Home" asp-action="UserOrder">Orders</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Stationary House
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("power"))
            {
                <a class="font1 text-dark" asp-area="Identity" asp-page="/Account/RegisterForPower">New Admin</a>
            }
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
